---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Location from '../../components/navigation/Location.astro';
import WorkTypes from '../../components/parts/about/WorkTypes.astro';
import ArticlePost from '../../components/collections/ArticlePost.astro';
import PostListImages from '../../components/collections/PostListImage.astro';
import { getCollection } from 'astro:content';
import socialYouTube from '../../components/navigation/socialYouTube.txt?raw';

const pageCategory = "index"

const articlePosts = (await getCollection('articleJa'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0,3);

const portfolioPosts = (await getCollection('portfolioJa'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0,4);

const pageTitle = "I'm a full-stack designer based in Fukuoka, Japan.";
---
<BaseLayout pageTitle={pageTitle} pageCategory={pageCategory}>
<div class="intro bg-gradient">
  <div class="wrapper">
    <div class="flex-container">
      
      <div class="profile-icon m-auto md:m-0 animate-fade-down">
        <stacked-alpha-video>
          <video autoplay crossorigin="anonymous" muted playsinline loop>
            <source
              src="/src/images/illustration/hero_av1.mp4"
              type="video/mp4; codecs=av01.0.08M.08.0.110.01.01.01.1"
            />
            <source src="/src/images/illustration/hero_hevc.mp4" type="video/mp4; codecs=hvc1.1.6.H120.b0" />
          </video>
        </stacked-alpha-video>
      </div>

      <div class="intro-text text-center md:text-left md:flex-1 animate-fade-right">
        <p class="tagline">我思う、<wbr/>故に我創る。</p>
        <p class="intersect intersect-once">オバマエリカは<Location/>を拠点に活動しているオールラウンド型デザイナーです。<br/><span class="type">多文化的好奇心</span>、<span class="type">デザイン×コードの協奏</span>、<span class="type">エクイティ（公平性）</span>を原動力としています。</p>
        
        <div class="flex-container resources animate-fade">

          <a href={socialYouTube} target="_blank" class="box">
            <div class="box-content">
              <div class="box-image rounded-full">
                <img src="/src/images/icon/social_youtube_prof.png">
              </div>
              <p class="type">YouTube</p>
              <p class="caption">@Erixplorer<wbr/>Design</p>
              <p class="caption">あまり語られなさそうな視点でデザインを掘り下げてみるチャンネルです。<wbr/>（英語）</p>
            </div>

          </a>
          <a href="/article/" target="_blank" class="box">
            <div class="box-content">
              <div class="box-image rounded-full">
                <img src="/src/images/icon/article.svg">
              </div>
              <p class="type">Article</p>
              <p class="caption">考えたことやデザイン×コードの実験などを載せていく場所です。</p>
            </div>
          </a>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="wrapper summary animate-fade">
  <section>
    <h2>手掛けていること</h2>
  <WorkTypes />
  <ul class="article-list column-4">
    {portfolioPosts.map((post: any) => <PostListImages url=`/ja/portfolio/${post.data.slug}` title={post.data.title} description={post.data.description}image={post.data.image} tags={post.data.tags} />)}
  </ul>
  <a href="about/" class="button">もっと詳しく</a>
  </section>

  <section>
    <h2>考えていること</h2>
  <ul class="article-list">
    {articlePosts.map((post: any) => <ArticlePost url=`/ja/article/${post.data.slug}` title={post.data.title} description={post.data.description}image={post.data.image} tags={post.data.tags} />)}
  </ul>
  <a href="article/" class="button">もっと読む</a>
  </section>
</div>
</BaseLayout>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/stacked-alpha-video/+esm"
></script>

<style>
  .wrapper {
    padding-top: 0;
  }

  .intro {
    padding-bottom: var(--m-lg);
    width: 100%;
    
    .profile-icon {
      @apply
      md:flex-none
      md:m-0
      md:max-w-[50%];

      stacked-alpha-video {
        width: 100%;
      }

      video {
        width: fit-content;
        height: auto;
        margin: 0 auto;
      }
    }
    .intro-text {
      align-items: stretch;
      align-content: center;
    }

    a{
      text-decoration: underline;
      &:hover {
        color: var(--ac1);
        text-decoration: underline;
      }
    }
  }

    
  .resources {
    display: grid;
    gap:var(--m-sm);
    @apply
    grid-cols-2
    md:grid-cols-2;

    .box {
      .box-content {
        border-radius: 9px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--bg-gradient);
          transition: all 0.3s ease-in-out;
        }
      }
      
      p {
        width: 100%;
        text-align: center; 
      }
      .box-image {
        @apply
        md:m-auto;
      }
    }

    a {
      
      &.box {
        text-decoration: none;

        &:hover { 
          text-decoration: none;
        }
      }
      &:hover {
        color: var(--ac1);
        text-decoration: underline;
      }
    }
  }

  .summary {
    padding-top: var(--m-lg);
  }
</style>