---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} pageCategory={frontmatter.category} pageDescription={frontmatter.description} pageImageUrl={frontmatter.image.url} pageImageAlt={frontmatter.image.alt}>
  <article class="article wrapper animate-fade">
    <div id="article-info" class="intersect intersect-once">
      <p class="description"><em>{frontmatter.description}</em></p>
      <p>
        <span class="caption"><!-- Published on: -->{frontmatter.pubDate.toString().slice(0,10)}</span>
      <div class="tags">
        {frontmatter.tags.map((tag: string) => (
          <span class="tag"><a href={ Astro.currentLocale === "ja" ? `/ja/article/tags/${tag}` : `/article/tags/${tag}`}>#{tag}</a></span>
        ))}
        </p>
      </div>
    </div>

    { frontmatter.image.hero === true ? 
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="heroimage"/>
      : null }

    <slot />
  </article>
</BaseLayout>
